node_modules/
npm-debug.log
$CACHE_FILE$
$PRODUCT_WORKSPACE_FILE$
.gitignore
compiler.xml
dataSources.xml
deployment.xml
dictionaries
graphql-settings.xml
inspectionProfiles/
jsLinters/
misc.xml
modules.xml
vcs.xml
dataSources.local.xml
dataSources/
workspace.xml
/e_commerce-database.iml
.idea/
build/
